<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @endpoint.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @endpoint.url %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @endpoint.owner %>
</p>

<p>
  <strong>Description:</strong>
  <%= @endpoint.description %>
</p>

<%= link_to 'Edit', edit_endpoint_path(@endpoint) %> |
<%= link_to 'Back', endpoints_path %>
