    <%= link_to "Logout", destroy_consumer_session_path %>
    <ul>
    <%- for endpoint in @endpoints do %>
      <li>
        <%= endpoint.title %> (<%= endpoint.url %>)
        <%- unless current_consumer.subscribed?(endpoint) %>
        <%= link_to "Subscribe", subscribe_endpoint_path(endpoint) %>
        <%- else %>
        <%= link_to "Access", access_endpoint_path(endpoint) %>
        <%- end %>
      </li>
    <%- end %>
    </ul>