  <%= link_to "Logout Owner", destroy_owner_session_path %>

  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Last Login</th>
        <th>Daily Requests</th>
        <th>Weekly Requests</th>
        <th>Monthly Requests</th>
        <th>Rate Limit</th>
      </tr>
    </thead>

    <tbody>
      <% @consumers.each do |consumer| %>
        <tr>
          <td><%= consumer.email %></td>
          <td><%= consumer.last_sign_in_at %></td>
          <td><%= consumer.daily_requests %></td>
          <td><%= consumer.weekly_requests %></td>
          <td><%= consumer.monthly_requests %></td>
          <td>
            <%= form_tag update_rate_limit_path(consumer.id) do %>
              <%= text_field_tag :rate_limit, consumer.rate_limit %>
              <%= button_tag 'Update' %>
            <%- end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>  