<%- if owner_signed_in? %>
  <%= render 'pages/owner' %>
<%- else %>
  <%- if consumer_signed_in? %>
    <%= render 'pages/consumer' %>
  <%- else %>
    <%= link_to "Login", new_consumer_session_path %>
    <%= link_to "Register", new_consumer_registration_path %>
    <br/>
    <br/>
    <%= link_to "Create Owner", new_owner_registration_path %>
    <br/>
    <%= link_to "Owner Login", new_owner_session_path %>
  <%- end %>
<%- end %>